<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Mudi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="card" th:each="pedido : ${pedidos}">
      <h2 th:text="${pedido.nomeProduto}">Nome do Produto</h2>
      <p th:text="${pedido.valor}">Valor: <span>200,99</span></p>
      <p th:text="${pedido.dataEntrega}">Data da Entrega: <span>15/06/2022</span></p>
      <h5>Produto</h5>
      <p><input th:value="${pedido.urlProduto}" value="URL do Produto"/></p>
      <h5>Descrição</h5>
      <div th:text="${pedido.descricao}">
      <textarea>
        Descrição do Pedido
      </textarea>
      </div>
      <div>
        <img th:src="${pedido.urlImagem}" src="">
      </div>
    </div>
  </div>
</body>
</html>